{% extends('base.html.twig') %}

{% block body %}
    <div class="container">
        <h3 style="color: dimgrey;">{{ post.id }}</h3>
        <h1 style="font-weight: bold;">{{ post.title }}</h1>
    </div>
{% endblock %}